/* Small/Normal Cards */
.card:hover,
.horizontal-card:hover {
    background-color: oklch(var(--n));
    color: oklch(var(--nc));
}


.pulse:hover {
    --pulse-color: oklch(var(--bc));
    animation: breathe 3.5s ease infinite;
}

@keyframes breathe {
    0%, 100% {
        box-shadow:
            0 0 15px 0 var(--pulse-color),
            0 0 15px 0 oklch(var(--s));
    }
    50% {
        box-shadow:
            0 0 0px 0 var(--pulse-color),
            0 0 0px 0 oklch(var(--s));
    }
}
