---
const { date, title, org, location, reversed = false, checked = true, topFilled = true, botFilled = true, start = false, end = false } = Astro.props;
const hasContent = !!Astro.slots.default;
---

<li>
  <hr class={`${start ? '' : `${topFilled ? 'bg-primary' : 'bg-base-200'}`}`} />
  <div class={`timeline-box bg-base-200 p-0 collapse ${hasContent ? 'collapse-plus' : ''} ${reversed ? 'timeline-start' : 'timeline-end'}`}>
    <input type="checkbox" />
    <div class={`collapse-title pb-0 ${hasContent ? 'mb-2' : 'mb-4'}`}>
      <span class="font-light text-secondary text-sm">{date}</span>
      <h3 class="font-bold text-lg">{title}</h3>
      <span class="font-light text-sm"><span class="font-bold">{org}</span> &ndash; <i>{location}</i></span>
    </div>
    {hasContent && (
      <p class="collapse-content rounded-xl bg-base-100 pt-3">
        <slot />
      </p>
    )}
  </div>
  <div class="timeline-middle">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
      class={`${checked ? 'text-primary' : 'text-base-content'} h-5 w-5`}>
      <path
        fill-rule="evenodd"
        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
        clip-rule="evenodd" />
    </svg>
  </div>
  <hr class={`${end ? '' : `${botFilled ? 'bg-primary' : 'bg-base-200'}`}`} />
</li>
