---
import BaseLayout from "../layouts/BaseLayout.astro";
import CVEvents from "../components/cv/events.astro";
import SkillBar from "../components/skill/SkillBar.astro";
import SkillScale from "../components/skill/SkillScale.astro";
import { skills } from "../components/skill/skills.ts";
---

<BaseLayout title="About" topNavActiveItemID="about">

    <div class="mockup-window border mb-10 bg-base-300">
        <div class="bg-base-200 p-6">
            <h1 class="font-bold mb-4">About Me</h1>
            <div class="grid grid-cols-1 gap-y-4 md:grid-cols-3 md:gap-4">
                <div class="avatar col-span-1 w-full">
                    <div class="rounded-xl">
                        <img src="/images/parker-owings.jpeg" />
                    </div>
                </div>
                <div role="tablist" class="col-span-1 md:col-span-2 tabs tabs-lifted tabs-lg h-full">
                    <!-- Bio Tab -->
                    <input type="radio" name="About Me" role="tab" class="tab" aria-label="Bio" checked />
                    <div role="tabpanel" class="tab-content bg-base-100 rounded-box min-h-[300px]">
                        <h2 class="text-3xl"><span class="text-primary font-bold">Parker Owings</span> aka <span class="text-primary font-bold">sloraris</span>
                        </h2>
                        <p>
                            I would describe myself as a man of many interests&mdash;some interesting, some not. I ride a onewheel, I enjoy Ultimate Frisbee, I play with Docker and Linux in my spare time, I find cable-management relaxing, and I'm a casual enjoyer of the occasional video game. I have a passion for networking, automation, cybersecurity, and I'm a firm believer in the philosophy that you should always be learning (mostly by doing).
                        </p>
                    </div>

                    <!-- Acknowledgments Tab -->
                    <input type="radio" name="About Me" role="tab" class="tab" aria-label="Acknowledgments" />
                    <div role="tabpanel" class="tab-content bg-base-100 rounded-box min-h-[300px]">
                        <h2 class="text-3xl font-bold text-primary">Standing on the Shoulders of Giants</h2>
                        <p class="font-bold italic mb-1">
                            There's simply no way around it: I would not be where I am today without the help of so many incredible people.
                        </p>
                        <ul class="list-disc list-inside">
                            <li>
                                <strong>My Parents</strong>
                                &ndash; For showing me that there's always another way to do something
                            </li>
                            <li>
                                <strong>My Professors</strong>
                                &ndash; For teaching me how to use my skills on real-world problems
                            </li>
                            <li>
                                <strong>My Mentors</strong>
                                &ndash; For pointing me towards new opportunities
                            </li>
                            <li>
                                <strong>Online Communities (YouTube, Reddit, Discord, etc.)</strong>
                                &ndash; For lowering the barrier to entry on many, many topics
                            </li>
                        </ul>
                    </div>

                    <!-- Contact Tab -->
                    <input type="radio" name="About Me" role="tab" class="tab" aria-label="Contact" />
                    <div role="tabpanel" class="tab-content bg-base-100 rounded-box gap-2 min-h-[300px]">
                        <h2 class="text-3xl font-bold text-primary">Contact Me</h2>
                        <p class="font-bold italic mb-2">
                            Feel free to reach out to me via email or my other platforms.
                        </p>
                        <div class="flex flex-col items-center gap-2">
                            <a href="mailto:sloraris@sloraris.com" class="btn w-full btn-accent">Email</a>
                            <a href="https://www.linkedin.com/in/parker-owings" target="_blank" class="btn w-full btn-secondary">LinkedIn</a>
                            <a href="https://github.com/sloraris" target="_blank" class="btn w-full btn-neutral">GitHub</a>
                        </div>
                        <!-- <ul class="list-disc list-inside">
                            <li>
                                <strong>Email</strong>
                                &ndash; sloraris [@] sloraris [.] com
                            </li>
                            <li>
                                <strong>LinkedIn</strong>
                                &ndash; <a href="https://www.linkedin.com/in/parker-owings-0000000000/" target="_blank" class="hyperlink">parker-owings</a>
                            </li>
                            <li>
                                <strong>GitHub</strong>
                                &ndash; <a href="https://github.com/sloraris" target="_blank" class="hyperlink">sloraris</a>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3 collapse collapse-plus bg-base-200">
        <input type="checkbox" />
        <h2 class="collapse-title text-3xl font-bold">Skills</h2>
        <div class="collapse-content">
          <p class="rounded-xl bg-base-100 mb-4 p-4">
            These skills are self-rated on a scale of 0-4. A score of 0 means I've heard of it and can tell you about it but haven't spent any time with it, while a score of 4 means I use it consistently and would feel comfortable recommending it to others or teaching them how to use it.
          </p>
          <div class="flex p-4">
            <SkillScale />
          </div>
          <div class="space-y-4">
            {skills.map(skill => (
              <div class="flex items-center">
                <SkillBar name={skill.name} icon={skill.icon} level={skill.level} />
              </div>
            ))}
          </div>
        </div>
      </div>

      <div class="mb-3 collapse collapse-plus bg-base-200">
        <input type="checkbox" />
        <h2 class="collapse-title text-3xl font-bold">Certifications</h2>
        <div class="collapse-content">
          <div class="rounded-xl bg-base-100 p-4">
            <h3 class="text-2xl font-bold">Certified</h3>
            <ul class="list-disc mx-6 mb-4 grid gap-2">
              <li>
                <a href="#" target="_blank"> Part 107 (Remote Pilot)</a>
              </li>
            </ul>
            <h3 class="text-2xl font-bold">Studying</h3>
            <ul class="list-disc mx-6 mb-4 grid gap-2">
              <li>
                <a href="#" target="_blank"> CCNA (Currently studying for the first exam)</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <hr class="slo-hr" />

      <div class="mb-5">
        <h2 class="text-3xl text-center w-full font-bold">Timeline</h2>
      </div>
      <div class="timeline timeline-vertical hidden md:block mb-10">
        <CVEvents />
      </div>
      <div class="timeline timeline-vertical timeline-compact block md:hidden mb-10">
        <CVEvents />
      </div>

</BaseLayout>
