---
import BaseLayout from "../layouts/BaseLayout.astro";
import CVEvents from "../components/cv/events.astro";
import BioTabs from "../components/tabs/BioTabs.astro";
import SkillBar from "../components/skill/SkillBar.astro";
import SkillScale from "../components/skill/SkillScale.astro";
import { skills } from "../components/skill/skills.ts";
---

<BaseLayout title="About" topNavActiveItemID="about">

    <div class="mockup-window border mb-10 bg-base-300">
        <div class="bg-base-200 p-4">
            <h1 class="font-bold mb-4">About Me</h1>
            <div class="grid grid-cols-1 gap-y-4 md:grid-cols-3 md:gap-4 h-full">
                <div class="avatar col-span-1 h-full">
                    <div class="rounded-xl h-full">
                        <img src="/images/parker-owings.jpeg" class="h-full object-cover" />
                    </div>
                </div>
                <div class="col-span-1 md:col-span-2 w-full h-full">
                    <BioTabs />
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3 collapse collapse-plus bg-base-200">
        <input type="checkbox" />
        <h2 class="collapse-title text-3xl font-bold">Skills</h2>
        <div class="collapse-content">
          <p class="rounded-xl bg-base-100 mb-4 p-4">
            These skills are self-rated on a scale of 0-4. A score of 0 means I've heard of it and can tell you about it but haven't spent any time with it, while a score of 4 means I use it consistently and would feel comfortable recommending it to others or teaching them how to use it.
          </p>
          <div class="flex p-4">
            <SkillScale />
          </div>
          <div class="space-y-4">
            {skills.map(skill => (
              <div class="flex items-center">
                <SkillBar name={skill.name} icon={skill.icon} level={skill.level} />
              </div>
            ))}
          </div>
        </div>
      </div>

      <div class="mb-3 collapse collapse-plus bg-base-200">
        <input type="checkbox" />
        <h2 class="collapse-title text-3xl font-bold">Certifications</h2>
        <div class="collapse-content">
          <div class="rounded-xl bg-base-100 p-4">
            <h3 class="text-2xl font-bold">Certified</h3>
            <ul class="list-disc mx-6 mb-4 grid gap-2">
              <li>
                <a href="#" target="_blank"> Part 107 (Remote Pilot)</a>
              </li>
            </ul>
            <h3 class="text-2xl font-bold">Studying</h3>
            <ul class="list-disc mx-6 mb-4 grid gap-2">
              <li>
                <a href="#" target="_blank"> CCNA (Currently studying for the first exam)</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <hr class="slo-hr" />

      <div class="mb-5">
        <h2 class="text-3xl text-center w-full font-bold">Timeline</h2>
      </div>
      <div class="timeline timeline-vertical hidden md:block mb-10">
        <CVEvents />
      </div>
      <div class="timeline timeline-vertical timeline-compact block md:hidden mb-10">
        <CVEvents />
      </div>

</BaseLayout>
