---
import BaseLayout from "../layouts/BaseLayout.astro";
import CVEvents from "../components/cv/events.astro";
import SkillBar from "../components/skill/SkillBar.astro";
import SkillScale from "../components/skill/SkillScale.astro";
import { skills } from "../components/skill/skills.ts";
---

<BaseLayout title="CV" sideBarActiveItemID="cv">
  <div class="mb-10 mockup-window bg-base-300 border">
    <div class="bg-base-200 flex flex-col justify-center px-4 py-16">
      <h1 class="text-center text-5xl font-bold mb-4">CV</h1>
      <p class="text-center text-xl">
        My resume and LinkedIn, stylized.
      </p>
    </div>
  </div>

  <div class="mb-3 collapse collapse-plus bg-base-200">
    <input type="checkbox" />
    <h2 class="collapse-title text-3xl font-bold">Skills</h2>
    <div class="collapse-content">
      <p class="rounded-xl bg-base-100 mb-4 p-3">
        These skills are self-rated on a scale of 0-4. A score of 0 means I've heard of it and can tell you about it but haven't spent any time with it, while a score of 4 means I use it consistently and would feel comfortable recommending it to others or teaching them how to use it.
      </p>
      <div class="flex">
        <SkillScale />
      </div>
      <div class="space-y-4">
        {skills.map(skill => (
          <div class="flex items-center">
            <SkillBar name={skill.name} icon={skill.icon} level={skill.level} />
          </div>
        ))}
      </div>
    </div>
  </div>

  <div class="mb-3 collapse collapse-plus bg-base-200">
    <input type="checkbox" />
    <h2 class="collapse-title text-3xl font-bold">Certifications</h2>
    <div class="collapse-content">
      <div class="rounded-xl bg-base-100 p-3">
        <h3 class="text-2xl font-bold">Certified</h3>
        <ul class="list-disc mx-6 mb-4 grid gap-2">
          <li>
            <a href="#" target="_blank"> Part 107 (Remote Pilot)</a>
          </li>
        </ul>
        <h3 class="text-2xl font-bold">Studying</h3>
        <ul class="list-disc mx-6 mb-4 grid gap-2">
          <li>
            <a href="#" target="_blank"> CCNA (Currently studying for the first exam)</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr class="slo-hr" />

  <div class="mb-5">
    <h2 class="text-3xl text-center w-full font-bold">Timeline</h2>
  </div>
  <div class="timeline timeline-vertical hidden md:block mb-10">
    <CVEvents />
  </div>
  <div class="timeline timeline-vertical timeline-compact block md:hidden mb-10">
    <CVEvents />
  </div>

</BaseLayout>
