---
const today = new Date();
const currentPath = Astro.url.pathname;
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} sloraris
  </div>
  <div class="inline opacity-75">
    Developed by <a href="https://github.com/sloraris/iamsloraris" target="_blank" class="font-bold">sloraris</a> using
    <!-- Thanks for using this template. You can keep this line to support my work :) -->
      <a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold">Astrofy Template ⚡️</a>
      {currentPath === '/cv' && (
        <>
          <br/>
          Icons by <a href="https://icons8.com" target="_blank" class="font-bold">Icons8</a> and <a href="https://fontawesome.com/" target="_blank" class="font-bold">FontAwesome</a>
        </>
      )}
  </div>
</footer>
<style></style>
