---
const { images = [], carouselClass = "" } = Astro.props;
---

<div class={carouselClass}>
    {images.map(image => (
      <div class="carousel-item">
        <img
        src={image.src}
        alt={image.alt}
        class="rounded-box h-full" />
    </div>
  ))}
</div>
