---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="ORBIT" image="/hero/orbit.jpg" sideBarActiveItemID="projects">

    <img src="/hero/orbit.jpg" alt="ORBIT" class="w-full mb-6 rounded-xl" />
    <h1 class="text-2xl text-center font-bold">Content coming soon...</h1>


</BaseLayout>
