---
const levels = [
  { value: 0, label: "Familiar" },
  { value: 1, label: "Beginner" },
  { value: 2, label: "Intermediate" },
  { value: 3, label: "Experienced" },
  { value: 4, label: "Advanced" }
];
---

<span class="w-40 text-md font-semibold">Proficiency</span>
<div class="mb-4 flex-grow">
  <div class="flex justify-between">
    {levels.map(level => (
      <div class="text-center">
        <div class="text-md font-semibold">{level.value}</div>
        <div class="text-xs hidden md:block">{level.label}</div>
      </div>
    ))}
  </div>
</div>
