---
import SvgIcon from "../SvgIcon.astro";

export interface Props {
  level: number;
  name: string;
  icon: string;
}

const { level, name, icon } = Astro.props;
const width = level * 25;
---

<div class="flex items-center">
  <SvgIcon name={icon} class="w-6 h-6 mr-2" />
  <span class="text-xl font-bold w-32">{name}</span>
</div>
<div class="flex-grow">
  <div class="skill-bar-container">
    <div
      class="skill-bar-fill"
      style={`width: ${width}%`}
    ></div>
  </div>
</div>

<style>
    .skill-bar-container {
        position: relative;
        width: 100%;
        height: 1rem;
        background-color: oklch(var(--b3));
        border-radius: 9999px;
        overflow: hidden;
    }

    .skill-bar-fill {
        height: 100%;
        width: 0;
        border-radius: 9999px;
        -webkit-mask:linear-gradient(oklch(var(--b3)) 0 0);
        mask:linear-gradient(oklch(var(--b3)) 0 0);
        transition: width 2s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    .skill-bar-fill::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right,
            oklch(var(--a)) 0%,
            oklch(var(--p)) 100%
        );
    }

    .skill-bar-fill.animate {
        width: var(--width);
    }

    .svg-icon {
        color: oklch(var(--p)); /* Set the color you want */
    }
</style>
